:root {
    --text-color: rgb(252, 235, 235);
    --background-color: #32322c;
    --link-color: rgb(255, 191, 191);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    height: auto;
    scroll-margin-top: 85px;
}

body {
    font-family: 'Parkinsan', sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.nav-head {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
}

.left_nav a {
    color: var(--text-color);
}

.left_nav a:hover {
    font-size: 103%;
    transition: 0.5s;
}

.right_nav a {
    margin: 5px;
    font-size: 28px;
    padding: 5px;
}

.right_nav a:hover {
    background-color: var(--text-color);
    color: black;
    font-size: 32px;
    transition: 0.5s;
    border-radius: 25%;
}

.about {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0;
    color: var(--text-color);
    gap: 40px;
}

.head_picture {
    max-width: 35vw;
    border-radius: 68% 32% 51% 49% / 44% 54% 46% 56%;
}

.head_picture:hover {
    border-radius: 52% 48% 26% 74% / 30% 37% 63% 70%;
    transition: 0.5s;
}

.link {
    padding: 10px 0;
}

.link a {
    color: var(--text-color);
    padding: 2px 5px;
    border: solid 2px white;
    margin: 1px;
    border-radius: 5px;
    font-size: small;
}

.link a i {
    margin: 3px;
    padding: 7px;
}

.link a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    transition: 0.5s;
}

.skill {
    padding: 0 50px;
    color: var(--text-color);
    text-align: center;
}

.section-head {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 10px;
    border-radius: 81% 19% 30% 70% / 42% 41% 59% 58%;
}

.skill-text p {
    margin: 20px;
}

.skilled_topic i {
    margin: 5px;
    padding: 5px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
}

.skilled_topic i:hover {
    background-color: rgb(255, 81, 81);
    transition: 0.5s;
}

.projects {
    padding: 0 50px;
    color: var(--text-color);
    text-align: center;
    margin: 40px 0;
}

.projects h3 {
    margin-top: 30px;
    color: var(--link-color);
    font-size: 20px;
    text-align: left;
}

.projects ul {
    margin: 10px 0 20px 20px;
    text-align: left;
    list-style-type: disc;
}

.projects ul li {
    margin-bottom: 5px;
    line-height: 1.6;
}

.experience {
    padding: 0 50px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 40px;
}

.experience h3 {
    margin-top: 30px;
    color: var(--link-color);
    font-size: 20px;
    text-align: left;
}

.experience ul {
    margin: 10px 0 20px 20px;
    text-align: left;
    list-style-type: disc;
}

.experience ul li {
    margin-bottom: 5px;
    line-height: 1.6;
}

.testimonial {
    margin: 40px 50px;
    text-align: center;
    margin-bottom: 30px;
}

.testi_container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.testi_picture img {
    width: 175px;
    margin: 20px;
    border-radius: 41% 59% 25% 75% / 65% 29% 71% 35%;
}

.testi_picture img:hover {
    border-radius: 65% 29% 71% 35% / 41% 59% 25% 75%;
    transition: 0.5s;
}

.testi_picture h4,
.testi_picture p,
.testi_text {
    color: var(--text-color);
}

.testi_container .testi_picture {
    text-align: left;
}

.testi_container .testi_text {
    text-align: start;
}

.contact {
    text-align: center;
    padding: 0 50px;
    margin-bottom: 30px;
}

.con-text {
    margin: 20px 0;
}

.con-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.con-form form {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.con-form form input,
label,
textarea {
    padding: 10px 0 0 0;
}

.con-form form input,
textarea {
    resize: none;
    border: 2px solid var(--link-color);
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'parkinsan', sans-serif;
    font-size: 16px;
    border-radius: 5px;
}

.con-form form button {
    margin: 10px 0;
    padding: 5px;
    background-color: var(--link-color);
    outline: none;
    border: 1.5px solid var(--text-color);
    border-radius: 5px;
    color: var(--background-color);
    font-size: 16px;
    font-weight: 600;
}

.con-form form button:hover {
    cursor: pointer;
    filter: brightness(0.9);
    transition: 0.1s;
}

.con-container .con-text {
    flex: 6;
}

.con-container .con-form {
    flex: 4;
}

footer {
    text-align: center;
}

footer p {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 10px;
}

/* Responsive */
@media (max-width: 600px) {
    .body a,
    p,
    h2,
    h3,
    i,
    span,
    h4 {
        font-size: 90%;
    }

    .nav-head {
        padding: 0 20px;
    }

    .section-head {
        font-size: 100%;
    }

    .about {
        padding: 0 20px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .skill,
    .projects,
    .experience,
    .testimonial,
    .contact {
        padding: 0 20px;
    }

    .testi_container {
        flex-direction: column;
        gap: 30px;
    }

    .testi_container .testi_text {
        text-align: center;
    }

    .con-container {
        flex-direction: column;
    }

    .con-form form input,
    textarea {
        resize: none;
        width: 85vw;
    }

    .skill,
    .testimonial {
        height: auto;
    }

    .nav-head {
        font-size: 20px;
    }

    .right_nav a {
        margin: 1px;
        padding: 2px;
        gap: 1px;
    }
}
